.navbar {
    background-color: #192f45;
}

.navbar,
.navbar .nav-link,
.navbar .navbar-brand {
    color: #a8bdd2;
}

.mainbody {
    margin-top: 110px
}

.footer {
    margin-top: 50px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #a8bdd2;
    font-family: Helvetica, Arial, sans-serif;
}

#calendar {
    border: 5px solid red;
    border-radius:4px;
}