.navbar {
    background-color: #192f45;
}

.navbar,
.navbar .nav-link,
.navbar .navbar-brand {
    color: #a8bdd2;
}

.mainbody {
    margin-top: 57px
}

.footer {
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #a8bdd2;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}