.navbar {
    background-color: #192f45;
}

.navbar,
.navbar .nav-link,
.navbar .navbar-brand {
    color: #a8bdd2;
}

.mainbody {
    margin-top: 110px
}

.footer {
    margin-top: 50px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #a8bdd2;
    font-family: Helvetica, Arial, sans-serif;
}

#calendar {
    padding: 50px;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-color: #192f45;
}

.calendar-page {
    font-family: Helvetica, Arial, sans-serif;
}

.fc-button {
    background-color: steelblue !important;
    font-weight: bold !important;
}

.fc-today {
    border: 2px solid steelblue !important;
    background-color: lightskyblue !important;
}

.fc-state-default {
    background-color: lightcyan !important;
}

.fc-widget-content {
    background-color: white !important;
    border-color: #ddd !important;
}

.fc-other-month {
    background-color: whitesmoke !important;
}

.policy-title {
    text-decoration: underline;
    margin-bottom: 50px;
}

.privacy-policy {
    font-family: Helvetica, Arial, sans-serif;
}

.policy-list {
    font-size: larger !important;
}

.signup-buttons {
    width: 100%;
}

.signup-home-button {
    background-color: #157347;
    color: #d9ffff;
    border: 0px;
}

.signup-home-button:hover,
.signup-home-button:focus,
.signup-home-button:active,
.signup-home-button:visited {
    color: #d9ffff;
    text-decoration: none;
}

.privacy-policy-icon {
    width: 200px;
}